{% extends  'webApp/base.html'%}
{% load static %}


        {% block title %}
        <title>Forest Asset Management | Baseline Maps</title>
        {% endblock %}

        {% block baseline_banner %}
        <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url('{% static 'images/Pak_Forest2.jpg' %}');">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc" data-animate-effect="fadeIn">
                                <h1>Baseline Maps of Pakistan</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
	    </header>
        {% endblock %}

        {% block baseline_steps %}
        <div class="gtco-section">
            <div class="gtco-container">
                <div class="row ">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2>Map Coloring via Remote Sensing</h2>
                        <p>Currently, we have extracted data from Sentinel 2 and generated maps using Normalized Difference Vegetation Index (NDVI) </p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6">

                        <div class="feature-left " data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-check"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>Vegetation Index: NDVI</h3>
                                <p>Represents health and density of vegetation<br>
                                A higher value indicates denser and healthier vegetation</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-left " data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-check"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>Map Coloring </h3>
                                <p>Python's Rasterio Library was used for map coloring<br>

                                    A color palette was created<br>
                                    The palette was implemented on the scenes inside LUMS and Changa Manga and the results were generated
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="row ">
                     <hr>
                     <h2 style="text-align:center">Results</h2>
                    <div class="col-md-6">
                        <div class="feature-left" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-check"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>LUMS</h3>
                                <p>
                                    Water Bodies: 0.0%<br>
                                    Buildings: 21.55%<br>
                                    Roads and Pathways: 33.77%<br>
                                    Low Vegetation: 24.82%<br>
                                    High Vegetation: 19.86%
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="feature-left" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-check"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>Changa Manga</h3>
                                <p>
                                    Water Bodies: 0.0%<br>
                                    Buildings: 5.95%<br>
                                    Roads and Pathways: 23.02%<br>
                                    Low Vegetation: 14.87%<br>
                                    High Vegetation: 56.17%
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!-- LUMS Tree Identification-->
        <div id="gtco-lums-maps" class="gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2>LUMS Map Coloring</h2>
                    </div>
                </div>
                <div class="row row-pb-md">
                    <div class="col-md-4  " data-animate-effect="fadeIn">
                        <div class="gtco-staff">
                            <img src="{% static 'images/LUMS_Satellite_Map.png' %}" alt="">
                            <h3>Satellite Image</h3>
                        </div>
                    </div>
                    <div class="col-md-4  " data-animate-effect="fadeIn">
                        <div class="gtco-staff">
                            <img src="{% static 'images/Lums_Colored_Boxes.png' %}" alt="">
                            <h3>Image Division in Squares</h3>
                        </div>
                    </div>

                    <div class="col-md-4  " data-animate-effect="fadeIn">
                        <div class="gtco-staff">
                            <img src="{% static 'images/Lums_NDVI.png' %}" alt="">
                            <h3>NDVI Map</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4  " data-animate-effect="fadeIn">
                        <div class="gtco-staff">
                            <img src="{% static 'images/Lums_Mosaic.png' %}" alt="">
                            <h3>Mosaic</h3>
                        </div>
                    </div>
                    <div class="col-md-4  " data-animate-effect="fadeIn">
                        <div class="gtco-staff">
                            <img src="{% static 'images/Lums_Contour.png' %}" alt="">
                            <h3>Contour Map</h3>
                        </div>
                    </div>
                    <div class="col-md-4  " data-animate-effect="fadeIn">
                        <div class="gtco-staff">
                            <img src="{% static 'images/Lums_TreeIdentification.png' %}" alt="">
                            <h3>Tree Identification</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Changa Manga - Tree Identification -->
        <div id="gtco-changa-maps" class="gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2>Changa Manga Map Coloring</h2>
                    </div>
                </div>
                <div class="row row-pb-md">
                    <div class="col-md-4  " data-animate-effect="fadeIn">
                        <div class="gtco-staff">
                            <img src="{% static 'images/Changa_Satellite_Map.png' %}" alt="">
                            <h3>Satellite Image</h3>
                        </div>
                    </div>
                    <div class="col-md-4  " data-animate-effect="fadeIn">
                        <div class="gtco-staff">
                            <img src="{% static 'images/Changa_Colored_Boxes.png' %}" alt="">
                            <h3>Image Division in Squares</h3>
                        </div>
                    </div>

                    <div class="col-md-4  " data-animate-effect="fadeIn">
                        <div class="gtco-staff">
                            <img src="{% static 'images/Changa_NDVI.png' %}" alt="">
                            <h3>NDVI Map</h3>
                        </div>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-md-4  " data-animate-effect="fadeIn">
                        <div class="gtco-staff">
                            <img src="{% static 'images/Lums_Mosaic.png' %}" alt="">
                            <h3>Mosaic</h3>
                        </div>
                    </div>
                    <div class="col-md-4  " data-animate-effect="fadeIn">
                        <div class="gtco-staff">
                            <img src="{% static 'images/Lums_Contour.png' %}" alt="">
                            <h3>Contour Map</h3>
                        </div>
                    </div>
                    <div class="col-md-4  " data-animate-effect="fadeIn">
                        <div class="gtco-staff">
                            <img src="{% static 'images/Lums_TreeIdentification.png' %}" alt="">
                            <h3>Tree Identification</h3>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>

        {%  endblock %}
