{% extends  'webApp/base.html'%}
{% load static %}


        {% block title %}
        <title>Forest Asset Management | Home</title>
        {% endblock %}

        {% block home_banner %}
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url('{% static 'images/Pak_Forest.jpg' %}');">
                <div class="overlay"></div>
                <div class="gtco-container">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-0 text-center">
                            <div class="display-t">
                                <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                    <h1>Forest Asset Management</h1>
                                    <!--<h2>Free html5 templates Made by <a href="http://FreeHTML5.co/" target="_blank">FreeHTML5.co</a></h2>-->
                                        <h2>A project by forestry group of NARL - NCRA, LUMS</h2>
                                    <!--<p>
                                        <a href="#" class="btn btn-primary btn-lg">Get Started</a>
                                        <a href="#" class="btn btn-white btn-outline btn-lg">Download</a></p>
                                        -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </header>
        {% endblock %}

        {% block home_services %}

        <div id="gtco-services">
                <div class="gtco-container">

                    <div class="row ">

                        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">

                            <h2>Our Services</h2>
                                <p>NARL's Forest Asset Management System provides following services</p>
                        </div>
                    </div>

                    <div class="row ">

				        <div class="gtco-tabs">
                            <ul class="gtco-tab-nav">
                                <li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-command"></i></span><span class="hidden-xs">Baseline Maps</span></a></li>
                                <li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-bar-graph"></i></span><span class="hidden-xs">The Species Maps</span></a></li>
                                <li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-bag"></i></span><span class="hidden-xs">Forest Health</span></a></li>
                                <li><a href="#" data-tab="4"><span class="icon visible-xs"><i class="icon-box"></i></span><span class="hidden-xs">Forest Cover</span></a></li>
                            </ul>

                            <!-- Tabs -->
                            <div class="gtco-tab-content-wrap">
                                <!-- Tab 1 -->
                                <div class="gtco-tab-content tab-content active" data-tab-content="1">
                                    <div class="col-md-6">
                                        <div class="gtco-video gtco-bg" style="background-image: url('{% static 'images/baseline_map.jpg' %}'); ">
                                           <!-- <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video"></i></a> -->
                                            <div class="overlay"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <h2>Baseline Maps of Forests of Pakistan</h2>
                                        <p></p>

                                        <p>A baseline map shows the boundaries of the forest that also includes the trees species, covered area and free land, any buildings inside the forest and water streams etc.</p>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <h2 class="uppercase">Keep it simple</h2>
                                                <p>     It is an informal view of the forest. The map is kept simple for quick understanding.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h2 class="uppercase">Make it comprehensive</h2>
                                                <p>The required components are marked with different symbols to differentiate them.</p>
                                            </div>
                                        </div>
                                        <p><a href="/web/baseline" class="btn btn-primary btn-outline">See Maps</a></p>
                                    </div>
                                </div>

                                <!-- Tab 2 -->
                                 <div class="gtco-tab-content tab-content" data-tab-content="2">
                                    <div class="col-md-6 col-md-push-6">
                                        <div class="gtco-video gtco-bg" style="background-image: url('{% static 'images/Tree_Species.jpg' %}'); ">
                                            <!--<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video"></i></a>-->
                                            <div class="overlay"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-md-pull-6">
                                        <h2>Tree Species in Pakistan</h2>
                                        <p>In Pakistan, more than 430 tree species are distributed over 82 families and 226 genera. Out of these 22 species from 5 families and 11 genera belong to softwood trees of gymnosperms.  </p>

                                        <p></p>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <h2 class="uppercase">Forest Types</h2>

                                                <ul style = "list-style-position: inside; padding-left: 0;">
                                                    <li>Littoral and Swamp forests</li>

                                                    <li>Tropical dry deciduous forests</li>
                                                    <li>Tropical thorn forests</li>
                                                    <li>Sub-tropical broad-leaved evergreen forests</li>
                                                    <li>Himalayan moist temperate forests</li>
                                                    <li>Himalayan dry temperate forests</li>
                                                    <li>Sub-alpine forests</li>
                                                    <li>Alpine scrub</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h2 class="uppercase">Biggest Forest</h2>
                                                <p>The Changa Manga,  one of the oldest hand-planted forests in the world,  exists in the Kasur and Lahore districts of Punjab, Pakistan.

                                                  It producing timber for the local industry and hosts a wide variety of flora and fauna. The forest is home to 14 species of mammals, 50 species of birds, six species of reptiles, two species of amphibians and 27 species of insects.


                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tab 3 -->
                                 <div class="gtco-tab-content tab-content" data-tab-content="3">
                                    <div class="col-md-6 col-md-push-6">
                                        <div class="gtco-video gtco-bg" style="background-image: url('{% static 'images/Forest.jpg' %}'); ">
                                            <!--<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video"></i></a>-->
                                            <!--<div class="overlay"></div>-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-md-pull-6">
                                        <div class="feature-left"  data-animate-effect="fadeInLeft">
                                        <!--<div class="feature-left" animate-box data-animate-effect="fadeInLeft">  -->
                                             <h2>Forest Health Indicators</h2>
                                            <span class="icon">
                                                <i class="icon-check"></i>
                                            </span>

                                            <div class="feature-copy">
                                                <h3>Tree Height</h3>
                                                <p>A commonly used measure of tree growth</p>
                                            </div>
                                        </div>

                                        <div class="feature-left"   data-animate-effect="fadeInLeft">
                                            <span class="icon">
                                                <i class="icon-check"></i>
                                            </span>
                                            <div class="feature-copy">
                                                <h3>Stem Diameter</h3>

                                            </div>
                                        </div>

                                        <div class="feature-left"   data-animate-effect="fadeInLeft">
                                            <span class="icon">
                                                <i class="icon-check"></i>
                                            </span>
                                            <div class="feature-copy">
                                                <h3>Carbon Content</h3>

                                            </div>
                                        </div>
                                        <div class="feature-left"   data-animate-effect="fadeInLeft">
                                            <span class="icon">
                                                <i class="icon-check"></i>
                                            </span>
                                            <div class="feature-copy">
                                                <h3>Oxygen Content</h3>

                                            </div>
                                        </div>


                                    </div>
                                 </div>

                                 <!-- Tab 4 -->
                                 <div class="gtco-tab-content tab-content" data-tab-content="4">
                                    <div class="col-md-6 ">
                                        <div class="gtco-video gtco-bg" style="background-image: url('{% static 'images/forested-cover.png' %}'); ">
                                            <!--<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video"></i></a>
                                            <div class="overlay"></div>
                                            -->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h2>Forest Cover</h2>
                                        <p>Relative land area percentage that is covered by forests, forest canopy or open woodland. </p>
                                        <h2>Forest Cover - Pakistan</h2>
                                        <p>Pakistan’s forest cover area is 5% of the total land area and is under rapid degradation with an annual deforestation rate of 1.5%.</p>
                                        <!--
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h2 class="uppercase">Pixel perfect</h2>
                                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h2 class="uppercase">User Interface Expert</h2>
                                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                            </div>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--
                    <div class="row animate-box">

                        <div class="gtco-tabs">
                            <ul class="gtco-tab-nav">
                                <li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-command"></i></span><span class="hidden-xs">Web Design</span></a></li>
                                <li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-bar-graph"></i></span><span class="hidden-xs">Online Marketing</span></a></li>
                                <li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-bag"></i></span><span class="hidden-xs">E-Commerce</span></a></li>
                                <li><a href="#" data-tab="4"><span class="icon visible-xs"><i class="icon-box"></i></span><span class="hidden-xs">Logo &amp; Branding</span></a></li>
                            </ul>

                            <!-- Tabs
                            <div class="gtco-tab-content-wrap">

                                <div class="gtco-tab-content tab-content active" data-tab-content="1">
                                    <div class="col-md-6">
                                        <div class="gtco-video gtco-bg" style="background-image: url(images/img_1.jpg); ">
                                            <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video"></i></a>
                                            <div class="overlay"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h2>Web Design</h2>
                                        <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>

                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga molestiae asperiores obcaecati corporis sint illo facilis.</p>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <h2 class="uppercase">Keep it simple</h2>
                                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h2 class="uppercase">Less is more</h2>
                                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="gtco-tab-content tab-content" data-tab-content="2">
                                    <div class="col-md-6 col-md-push-6">
                                        <div class="gtco-video gtco-bg" style="background-image: url(images/img_1.jpg); ">
                                            <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video"></i></a>
                                            <div class="overlay"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-md-pull-6">
                                        <h2>Online Marketing</h2>
                                        <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>

                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga molestiae asperiores obcaecati corporis sint illo facilis.</p>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <h2 class="uppercase">Ready to use</h2>
                                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h2 class="uppercase">100% Satisfaction</h2>
                                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="gtco-tab-content tab-content" data-tab-content="3">
                                    <div class="col-md-6 col-md-push-6">
                                        <div class="gtco-video gtco-bg" style="background-image: url(images/img_1.jpg); ">
                                            <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video"></i></a>
                                            <div class="overlay"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-md-pull-6">
                                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                                            <span class="icon">
                                                <i class="icon-check"></i>
                                            </span>
                                            <div class="feature-copy">
                                                <h3>Retina Ready</h3>
                                                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                                            </div>
                                        </div>

                                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                                            <span class="icon">
                                                <i class="icon-check"></i>
                                            </span>
                                            <div class="feature-copy">
                                                <h3>Fully Responsive</h3>
                                                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                                            </div>
                                        </div>

                                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                                            <span class="icon">
                                                <i class="icon-check"></i>
                                            </span>
                                            <div class="feature-copy">
                                                <h3>Ready To Use</h3>
                                                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="gtco-tab-content tab-content" data-tab-content="4">
                                    <div class="col-md-6">
                                        <div class="icon icon-xlg">
                                            <i class="icon-box"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h2>Logo &amp; Branding</h2>
                                        <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>

                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga molestiae asperiores obcaecati corporis sint illo facilis.</p>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <h2 class="uppercase">Pixel perfect</h2>
                                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h2 class="uppercase">User Interface Expert</h2>
                                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div> -->

            </div>
        </div>

        {% endblock %}